// Default Color Settings
$white: #fff;
$off-white: #FDF9EA;
$primary: #f6e828;
$primary-light: #FFF88F;
$accent: #FA8E73;
$accent-light: #F2B0E5;
$warn: #BD5942;
$dark-dark-bg: #1D1821;
$dark-bg: #272529;
$dark-light-bg: #403B44;
$grey-light: rgba(0, 0, 0, 0.04);
$font: #666666;
$bg-image: linear-gradient(to right, #f6e828, #f7bf27, #ed9932, #d9773c, #bd5942);