
<div class="lm__timeline">
   <div class="lm__timeline-cards">

      <mat-card class="lm__timeline-card">
         <img mat-card-image src="assets/images/oarteguh.jpg" alt="Logo OAR Teguh">
         <mat-card-title>
            Selamat datang ke laman web OAR Teguh
         </mat-card-title>
         <mat-card-subtitle>
            Tentang Kami
         </mat-card-subtitle>
         <mat-card-content>
            <p><span class="lm__text-highlight">OAR TEGUH SDN BHD</span> (OAR) telah ditubuhkan di malaysia menjalankan aktiviti pemasaran & aktiviti latihan teknikal, termasuk pemasaran dalam talian dan pengedaran produk kesihatan, kecantikan & kosmetik.</p>            
         </mat-card-content>
      </mat-card>

      <mat-card class="lm__timeline-card">
         <img mat-card-image src="assets/images/img-dept/admin.jpg" alt="Admin Department" matTooltip="Admin Department">
         <mat-card-content>
            <p><span class="lm__text-highlight">OAR TEGUH SDN BHD</span> mula beroperasi pada 10 Mei 2016 dan dimiliki sepenuhnya oleh usahawan Bumiputera.</p>
         </mat-card-content>        
      </mat-card>

      <mat-card class="lm__timeline-card">
         <img mat-card-image src="assets/images/img-dept/sales-marketing.jpg" alt="Sales Department" matTooltip="Sales & Marketing Department">
         <mat-card-content>
            <p><span class="lm__text-highlight">OAR TEGUH SDN BHD</span> merupakan sebuah syarikat penghasilan, perdagangan &  komersial di dalam semua jenis perniagaan berkaitan kesihatan kecantikan & kosmetik.Menyediakan kontrak, perjanjian dan susunan dengan rakan perniagaan, koperasi, usahasama.</p>
         </mat-card-content>         
      </mat-card>

      <mat-card class="lm__timeline-card">
         <img mat-card-image src="assets/images/img-dept/finance.jpg" alt="Finance Department" matTooltip="Finance Department">
         <mat-card-subtitle>VISI SYARIKAT</mat-card-subtitle>   
         <mat-card-content>
            <p>Menjadi  syarikat pemasaran bumiputera yang berdaya saing dipasaran tempatan dan antarabangsa.</p>
         </mat-card-content>
      </mat-card>

      <mat-card class="lm__timeline-card">
         <img mat-card-image src="assets/images/img-dept/art-creative.jpg" alt="Art & Creative Department" matTooltip="Art & Creative Department">
         <mat-card-subtitle>MISI SYARIKAT</mat-card-subtitle>   
         <mat-card-content>
            <div fxLayout="row">
               <mat-icon fxFlex="5" color="accent">trending_up</mat-icon> <span>Mencipta lebih ramai rakan niaga dalam perniagaan pemasaran dalam talian.</span>
            </div>            
         </mat-card-content>
      </mat-card>

      <mat-card class="lm__timeline-card">
         <img mat-card-image src="assets/images/img-dept/store-logistic.jpg" alt="Store & Logistic" matTooltip="Store & Logistic">
         <mat-card-content>
            <div fxLayout="row">
               <mat-icon fxFlex="5" color="accent">trending_up</mat-icon> Menyediakan platform kepada rakan niaga yang ingin menceburkan diri dalam bidang pemasaran dalam talian.
            </div>
            <div fxLayout="row">
               <mat-icon fxFlex="5" color="accent">trending_up</mat-icon> Menyediakan pelan pemasaran yang mudah dan senang dicapai dan memberi pulangan yang adil serta lumayan.
            </div>
         </mat-card-content>
      </mat-card>

   </div>
</div>